/*цвет текста вторичный #757575;*/
/*цвет текста основной #212121;*/
/*цвет текста WebStudio #000000 #2196F3 #FFFFFF;*/
/*цвет текста кнопка, ссылки #2196F3;*/
/*нижние контакты rgba(255, 255, 255, 0.6);*/
/*цвет фона оновной #E5E5E5;*/
/*цвет фона хедер #FFFFFF;*/
/*цвет фона шапка, футер  #2F303A;*/
/*цвет фона наша команта #F5F4FA;*/
/*цвет фона наша команда карточки #FFFFFF;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-color-white-a: rgba(255, 255, 255, 0.6);
  --text-color-white: #ffffff;
  --text-color-blac: #000000;
  --bg-color-white: #ffffff;
  --bg-color-light: #f5f4fa;
  --bg-color-hero: #c4c4c4;
  --block-border-line: #ececec;
  --card-border-color: #eeeeee;
}

body {
  color: var(--primary-text-color);
  background-color: var(--bg-color-white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* all lists */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* section container */
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*header*/
.page-header {
  background-color: var(--text-color-white);
  border-bottom: 1px solid var(--block-border-line);
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header .conteiner,
.conteiner .main-nav,
.main-nav .site-nav,
.conteiner .contact-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*header logo*/
.logo {
  margin-right: 93px;
  color: var(--text-color-blac);
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo .accent {
  color: var(--accent-color);
}

/*site-nav and contact-nav*/
.conteiner .contact-nav {
  margin-left: auto;
}

.site-nav .item:not(:last-child),
.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link,
.contact-nav .link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* main */
/*hero*/
.section.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .hero-title {
  max-width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
}

/*button*/
.button {
  color: var(--title-text-color);
  background-color: var(--bg-color-light);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

/*hero button*/
.hero .button.primary {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

.button.primary {
  color: var(--text-color-white);
  background-color: var(--accent-color);
}

/*button filter page portfolio*/
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .items:not(:last-child) {
  margin-right: 8px;
}

.filter .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
}

/*section*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

/* hidden headers */
.section-title.not-displaye {
  visibility: hidden;
  margin-bottom: -41.25px;
}

/*features*/
.feature-list {
  display: flex;
  margin-left: -30px;
}

.feature-list .item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color-light);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list .item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.feature-list .item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.feature-list .title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .text {
  line-height: 1.71;
}

/* skills */
.section.skills {
  padding-top: 0;
}

.skills .skills-list {
  display: flex;
  margin-left: -30px;
}

.skills-list .item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

/*our team*/
.team {
  background-color: var(--bg-color-light);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-list .team-member {
  background-color: var(--bg-color-white);
  text-align: center;
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.team-member .bottom-description {
  padding: 30px 0;
}

.bottom-description .title {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.bottom-description .title,
.bottom-description .text {
  font-size: 16px;
  line-height: 1.18;
}

/*page portfolio our work*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works-list > .works-categories {
  background-color: var(--bg-color-white);
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.works-categories .bottom-description {
  border: solid 1px var(--card-border-color);
  border-top: 0;
  padding: 20px 24px;
}

.works-list .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0 0 4px;
}

.works-list .text {
  font-size: 16px;
  line-height: 1.87;
}

/*footer*/
.page-footer {
  background-color: var(--bg-color-hero);
  color: var(--text-color-white);
  padding-top: 60px;
  padding-bottom: 60px;
}

/*logo footer*/
.page-footer .logo {
  color: var(--text-color-white);
  margin-bottom: 20px;
  margin-right: 0;
  display: inline-block;
}

.page-footer .contact-footer {
  width: 230px;
}

.contact-footer .text,
.contact-footer .link {
  font-style: normal;
  line-height: 1.71;
  display: block;
}

.contact-footer .link {
  color: var(--text-color-white-a);
  text-decoration: none;
  margin-top: 9px;
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}
